*{
    padding:0;
    margin: 0;
    box-sizing : border-box;
}
.line{
    height:6px;
    width:30%;
    background: green;
    display:inline-block;
}
.line1{
    height:3px;
    width:20%;
    background: green;
    display:inline-block;
    text-align: center;
}
.i{
    font-size :45px;
    color:green;
}